In [18]:
import pandas as pd
import json

In [109]:
import re
from datetime import timedelta


regex = re.compile(r'((?P<hours>\d+?)h\s*)?((?P<minutes>\d+?)m\s*)?((?P<seconds>\d+?)s)?')


def parse_time(time_str):
    parts = regex.match(time_str)
    if not parts:
        return
    parts = parts.groupdict()
    time_params = {}
    for name in parts:
        if parts[name]:
            time_params[name] = int(parts[name])
    return timedelta(**time_params)

In [115]:
with open('bruce.json') as file:
    out = json.load(file)

In [116]:
df = pd.DataFrame(out)
df.name = df.name.apply(lambda x: x.replace('\nSummit Member', ''))

df.distance = df.distance.apply(lambda x: float(x.replace(' km', ''))*1000)
df.duration = df.duration.apply(lambda x: parse_time(x).total_seconds())

In [117]:
df

,name,date,distance,duration,title
0,Emily McLeod,2020-05-13 08:01:16 UTC,6780.0,2218.0,Evening Run
1,Matthew Blacker,2020-05-13 07:52:43 UTC,10060.0,2936.0,Freddy Krueger
2,Hanno Jacobs,2020-05-13 07:55:15 UTC,8330.0,2745.0,üêå
3,Stefan Smerdon,2020-05-13 05:43:34 UTC,21000.0,6780.0,Long burn 4 Bruce
4,Matt Kautsky,2020-05-13 07:21:32 UTC,7980.0,2241.0,Afternoon Run
...,...,...,...,...,...
110,Kealon Cantwell,2020-05-10 15:05:04 UTC,14000.0,4320.0,Training run - 10 - 14k
111,Vincent Abbott,2020-05-10 09:12:45 UTC,9640.0,3312.0,Bold park run
112,Edward Raftesath,2020-05-10 08:37:45 UTC,13120.0,3300.0,Night seems to bring out the best in me
113,Fin Dennison,2020-05-10 07:26:10 UTC,15300.0,5220.0,Head Torch Hours
114,Stefan Smerdon,2020-05-10 07:50:11 UTC,6210.0,2061.0,"Part 2. (Strava carked, 12 mins, 2.2 km lost, ..."

In [118]:
df.to_csv('bruce.csv', index=False)

In [88]:
s = parse_time("1h 53m")

{'hours': '1', 'minutes': '53', 'seconds': None}

In [90]:
s.total_seconds()

6780.0